.container {
  width: 100%;
  margin: 0px auto;
  }

  .section {
    margin-bottom: 64px;
  }
  
nav {
  width: 95%;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 10px;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  padding: 24px;
  vertical-align: middle;
  padding-right: 5px;
}


a{
  display:flex;
  align-items: center;
}

.nav-list{
  display: flex;
  padding: 0 10px;
}


.text-1{
  font-size: 32px;
}

ul{
  display: flex;
  padding: 0 24px;
}

ul li {
  padding:16px;
}



/* Section1 */
.section-1{
  background-color: #d8d8d8;
  padding: 32px 24px; 
}

.learn-everyday{
  display: flex;
}

.banner-content{
  align-items: center;
  padding : 60px;
  flex-direction: column;
}



.pic1{
  width: 60%;
}

.text-2{
  font-size: 40px;
  padding : 20px;
}

.text-3{
  font-size: 20px;
  padding : 20px;

}

.start{
  background-color: gray;
  padding :16Px 5px;
  justify-content: center;
}

/* section-2 */

.pic2{
  width: 100%;
  display: flex;
}

.column {
  flex-direction: column;
}

.section-2{
  display: flex;
  padding: 32px 24px;
}

.information{
  flex-direction: column;
  width:60%;
}

.info-boxes{
  width:40%;
}

.sec2{
  display: flex;
}

.sec2-item-image{
  width: 50%;
}

.info-Orientation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-campus{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-lecture{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2-text-1{
  font-size: 32px;
  margin:32PX 0px 24Px 0px;
}


/* section-3 */

.section-3{
  background-color: #d8d8d8;
  padding: 64px 0;
}


.heading{
  font-size: 60px;
  justify-content: center;
}

.course{
  display: flex;
  justify-content: space-between;
}

.course{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-item{
  width: calc(100% / 3);
  margin-bottom: 16px;
  padding: 0px 20px;
  box-sizing: border-box;
  position:relative
}

.sec3-1{
  font-size: 24px;
}

.sec3-2{
  font-size: 16px;
}

.sec3-3{
  font-size: 14px;
}

.sec3-item-image{
  width: 100%;
}


.vidoes-4{
  width: 100%;
}

.sec4 {
  flex-direction: column;
}