.container {
  width: 100%;
  margin: 0px auto;
  }

  .section {
    margin-bottom: 64px;
  }
  
nav {
  width: 95%;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 10px;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  padding: 24px;
  vertical-align: middle;
  padding-right: 5px;
}


a{
  display:flex;
  align-items: center;
}

.nav-list{
  display: flex;
  padding: 0 10px;
}


.text-1{
  font-size: 32px;
}

ul{
  display: flex;
  padding: 0 24px;
}

ul li {
  padding:16px;
}



/* Section1 */
.section-1{
  background-color: #d8d8d8;
  padding: 32px 24px; 
}

.learn-everyday{
  display: flex;
}

.banner-content{
  align-items: center;
  padding : 60px;
  flex-direction: column;
}



.pic1{
  width: 60%;
}

.text-2{
  font-size: 40px;
  padding : 20px;
}

.text-3{
  font-size: 20px;
  padding : 20px;

}

.start{
  background-color: gray;
  padding :16Px 5px;
  justify-content: center;
}

/* section-2 */

.pic2{
  display: flex;
}

.column {
  flex-direction: column;
}

.section-2{
  display: flex;
  padding: 32px 24px;
}

.information{
  flex-direction: column;
  width:60%;
}

.info-boxes{
  width: 40%;
  padding: 0Px 16px 0Px 16Px;
}

.sec2{
  display: flex;
}

.sec2-item-image{
  width:50%;
  
}

.info-Orientation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0Px 16Px;
}

.info-campus{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-lecture{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2-text-1{
  font-size: 32px;
  margin:32PX 0px 24Px 0px;
}


.sec2-text-2{
  font-size: 20px;
  margin:32PX 0px 24Px 0px;
}

.info-lecture{
  background-color: #d8d8d8;
}

.sec2-text-3{
  font-size: 15px;
  padding: 10px;
}

.sec2-text-4{
  font-size: 20px;
}

.sec2-text-5{
  padding: 16PX 0px;
}



/* section-3 */

.section-3{
  background-color: #d8d8d8;
  padding: 32px 0;
}


.heading{
  font-size: 60px;
  justify-content: center;
}

.course{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-item{
  background-color: #d8d8d8;
  width: calc(100% / 3);
  padding: 0Px 16Px 10Px 0Px;
  box-sizing: border-box;
  position:relative
}

.sec3-1{
  font-size: 24px;
}

.sec3-2{
  font-size: 18px;
  padding: 10Px 0Px 0Px 0Px;
}

.sec3-3{
  font-size: 16px;
  padding: 5Px 0Px 32Px 0Px;
}

.sec3-item-image{
  font-size: 18px;
  width: calc(100%);
  margin-bottom: 16px;
  border-radius: 18px;
}


/* section-4 */
.section-4{
  padding: 32px 24px ;
}


.vidoes-4{
  width: 100%;
}

.sec4 {
  flex-direction: column;
  display: flex;
  width: 40%;
  padding: 0px 16px;
}

.sec4-1{
  width: 60%;
  padding:0px 24px 24px 0px;
}


.sec3-text{
  font-size: 50px;
  padding: 0px 0Px 32px 0px;
  justify-content: center;
  display: flex;
}

.sec4-text-1{
  display: flex;
  padding: 16px 16px;
  margin-left: 0px;
  background-color: #d8d8d8;
}

.image-sec4-1{
  width: 45%;

}

.sec4-text-3{
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.head{
  font-size: 50px;
  justify-content: center;
  display: flex;
  padding: 0PX 0PX 32PX 0PX;
}

.sec4-text-3{
  font-size: 30px;
  display: flex;
  padding: 16px 16px;
}

.sec4-text-2{
  display: flex;
  padding: 16px 16px;
}

.sec4-text-4{
  font-size: 30px;
  padding: 24px 0Px 8px 0px;
}

.sec4-text-5{
  font-size: 20px;

}

.sec4-text-6{
  font-size: 20px;
  padding: 16px 0px;
}

.sec4-text-7{
  font-size: 15px;
}

.sec4-text-8{
  justify-content: flex-start;
  font-size: 20px;
  padding: 20px 0px;
}

.sec4-text-9{
  font-size: 15px;
}

.sec4-2{
  padding: 0px 0px 0px 0px;
}

/* footer */

.footer{
  display: flex;
  justify-content:space-between;
}

.links{
  display: flex;
  padding: 0px 24px;
}

.links1{
  padding: 0px 10px;
}

.copyright1{
  padding: 0px 24px;
}